.accordion {
    margin: 0 auto;
    width: 80%;
}

.accordion .contentBx {
    position: relative;
    margin: 10px 20px;
}

.accordion .contentBx .label {
    position: relative;
    padding: 10px;
    color: #000;
    border-bottom: 1px solid #000;
    cursor: pointer;
}

.accordion .contentBx .label::before {
    content: "+";
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.5rem;
}

.accordion .contentBx.active .label::before {
    content: '-';
}

.accordion .contentBx .content {
    position: relative;
    background: #fff;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
}

.accordion .contentBx.active .content {
    padding: 10px;
}

.accordion .contentBx.active #setor1{height: 450px !important;}
.accordion .contentBx.active #setor2{height: 250px !important;}
.accordion .contentBx.active #setor3{height: 250px !important;}
.accordion .contentBx.active #setor4{height: 450px !important;}
.accordion .contentBx.active #setor5{height: 350px !important;}
.accordion .contentBx.active #setor6{height: 300px !important;}
.accordion .contentBx.active #setor7{height: 250px !important;}
.accordion .contentBx.active #setor8{height: 100px !important;}



@media (max-width: 520px){
.accordion .contentBx.active #setor1{height: 700px !important;}
.accordion .contentBx.active #setor2{height: 450px !important;}
.accordion .contentBx.active #setor3{height: 450px !important;}
.accordion .contentBx.active #setor4{height: 700px !important;}
.accordion .contentBx.active #setor5{height: 400px !important;}
.accordion .contentBx.active #setor6{height: 400px !important;}
.accordion .contentBx.active #setor7{height: 450px !important;}
.accordion .contentBx.active #setor8{height: 250px !important;}
}
.accordion .contentBx.active .contentSetor{height: 100px !important;}