/*Magic card*/
.card {
    width: 65%;
    background: #2f2f35;
    overflow: visible;
    box-shadow: 0 5px 20px 2px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
}

.card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding: 10px 1rem;
}

.card-img {
    --size: 150px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    transform: translateY(-50%);
    position: relative;
    transition: all .3s ease-in-out;
}

#erick{
    background-image: url("../img/erickAggio.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#campos{
    background-image: url("../img/campos.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}


/*Text*/
.text-title {
    text-transform: uppercase;
    color: #fff !important;
    letter-spacing: 0.05rem;
}

.text-body {
    font-size: .8em;
    text-align: center;
    color: #fff !important;
    font-weight: 400;
    font-style: italic;
}

#socios {
    margin: 0 auto !important;
}

.col-md-6 .card {
    margin: 0 auto !important;
}
.card p{
    margin: 0 !important;
}

@media (max-width: 770px){
    
.col-md-6 .card {
    margin: 55px auto !important;
}
}
@media (max-width: 900px){
    .card{
        width: 90% !important;
    }
}
@media (max-width: 450px){
    .card{
        width: 95% !important;
    }
}