
h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
    color: #000;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

main {
    display: block;
    background-color: #FFF;
}

.container {
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 20px;
}

section.module p {
    margin-bottom: 40px;
}

section.module:last-child {
    margin-bottom: 0;
}

section.module h2 {
    margin: 40px 0;
    font-size: 30px;
}

section.module.content {
    padding: 40px 0;
    background: #ffffff;
}

section.module.parallax {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

section.module.parallax:after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 40%, #000 100%);
    background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 40%, #000 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 40%, #000 100%);
}


section.module.parallax-1 {
    background-image: url("../img/Logotipo5.jpg");
    background-size: contain;
}

section.module.parallax-2 {
    background-image: url("https://img.freepik.com/fotos-gratis/a-lei-e-a-justica-convergem-na-ia-generativa-de-martelo-antigo_188544-9402.jpg?w=1380&t=st=1684190140~exp=1684190740~hmac=600b4399f78c072ff91f87db97ebf4f679a28ce7b47376e1c3be4c6818ff7c4a");
    background-size: cover;
    background-repeat: no-repeat;
}

section.module.parallax-3 {
    background-image: url("https://img.freepik.com/fotos-gratis/predio-de-escritorios-moderno-opiniao-de-angulo-baixo-dos-arranha-ceus-na-cidade-de-singapura-predio-de-escritorios-moderno-opiniao-de-angulo-baixo-dos-arranha-ceus-na-cidade-de-singapura_231208-1463.jpg?w=1380&t=st=1684277306~exp=1684277906~hmac=b3229b33bd9689112445b7255d6c24d91ee33ed978f3cd1003ba4667de8a619f");
    background-size: cover;
    background-repeat: no-repeat;
}

section.module.parallax h1 {
    color: #FFF;
    text-align: center;
    font-size: 78px;
    z-index: 50;
    text-transform: uppercase;
}

@media all and (max-width: 820px) {
    section.module h2 {
        font-size: 32px;
    }

    .module h2, p {
        padding: 0 8px;
    }

    .container {
        margin: 0;
        padding: 0;
    }

    section.module.parallax h1 {
        font-size: 36px;
    }
}


#parralax1 {
    height: 100vh !important;
}

#parralax2 {
    height: 50vh !important;
}

#parralax3 {
    margin-top: 50px !important;
    height: 60vh !important;
}