@media(max-width: 992px) {
    .nav-item {
        display: block;
    }

    .dropdown-menu a {
        color: #000 !important;
    }
}

.imagem img {
    height: 100%;
    width: 100%;
}

.texto {
    height: 100%;
}

.navbar {
    position: relative !important;
}

.h1-part2 {
    width: 100%;
}

.item {
    width: 100%;
}

.card {
    background-size: cover;
    background-repeat: no-repeat;
}

.cards .card p.tip {
    font-size: 1em;
    font-weight: 700;
}

.text-info {
    cursor: pointer !important;
}

.informacoes {
    background-color: #2f2f35;
    color: #fff;
}

.containere {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
}

.card {
    width: 100%;
    height: 400px;
    letter-spacing: 1px;
    box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.25);
    transition: .2s all;
    background-color: #2f2f35 !important;
    cursor: pointer;
    align-items: center;
    text-align: center;
    font-size: 13px;
    padding-top: 30px;
}

.containere:hover .card {
    filter: blur(3px);
    opacity: .5;
    transform: scale(.98);
    box-shadow: none;
}

.containere:hover .card:hover {
    transform: scale(1);
    filter: blur(0px);
    opacity: 1;
    box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
}

.card {
    background-repeat: no-repeat;
    background-size: cover;
}

.img1 {
    background-image: url("../imgGolpe/balanca.png");
}

.img2 {
    background-image: url("../imgGolpe/legislacao.png");
}

.img3 {
    background-image: url("../imgGolpe/advogado.png");
}

.local {
    background-color: #47474b;
    color: #fff !important;
    width: 100%;
    margin: 0 auto;
}

.infos {
    width: 80%;
    margin: 0 auto;
}

.colunas {
    width: 80%;
    margin: 0 auto;
}

.propaganda {
    background-color: #2f2f35;
    color: #fff;
}

.linkSite {
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    list-style: none;
}

.linkSite:hover {
    color: #c3c6ce;
}

.btn-propaganda {
    margin: 0 auto;
    width: 30%;
}

#myBtn {
    /* Oculta o botão inicialmente */
    position: fixed;
    /* Fixa o botão na posição desejada */
    bottom: 20px;
    /* Define a distância do botão em relação à parte inferior */
    right: 30px;
    /* Define a distância do botão em relação à direita */
    z-index: 99;
    /* Define a ordem de empilhamento do botão */
    border: none;
    /* Remove a borda */
    outline: none;
    /* Remove o contorno */
    background-color: #555;
    /* Define a cor de fundo do botão */
    color: white;
    /* Define a cor do texto do botão */
    cursor: pointer;
    /* Define o cursor do mouse como um ponteiro */
    padding: 15px;
    /* Define o espaçamento interno do botão */
    border-radius: 50%;
    /* Define a forma arredondada do botão */
    font-size: 18px;
    /* Define o tamanho da fonte do botão */
}

#myBtn:hover {
    background-color: #333;
    /* Define a cor de fundo do botão ao passar o mouse */
}

@media(max-width: 852px) {
    .card {
        height: 475px;
    }
}

@media(max-width: 767px) {
    .cards .row .col-md-3 {
        margin: 20px 0;
    }

    .texto {
        width: 95%;
        margin: 0 auto;
    }

    .local h1 {
        margin-bottom: 10px;
    }

    .infos {
        margin-top: 20px;
        width: 100%;
    }

    .accordion {
        width: 95%;
    }

    .label h3 {
        font-size: 21px;
    }

    .containere {
        flex-direction: column;
    }

    .card {
        height: 300px;
    }
}

@media(max-width: 572px) {
    .label h3 {
        font-size: 17px;
    }
}

@media(max-width: 552px) {
    .label h3 {
        font-size: 15px;
    }
}

.dropdown_menu.open {
    background-color: #c3c6ce !important;
}

@media(max-width: 452px) {
    .text-info {
        font-size: 22px !important;
    }
}

.label h3 {
    width: 85% !important;
}

@media (max-width: 992px) {
    .navbar .toggle_btn {
        display: none !important;
    }

    .navbar {
        padding: 0 20px;
    }

    .nav-item a {
        font-size: 20px !important;
    }
}
@media (max-width: 888px){
    .nav-item a {
        font-size: 16px !important;
    }
}   
@media (max-width: 768px) {
    .navbar .toggle_btn {
        display: block !important;
    }

}

.nav-item a {
    color: #fff !important;
}