@media(max-width: 992px) {
    .nav-item {
        display: block;
    }

    .nav-item a {
        font-size: 20px;
        color: #fff !important;
    }

    .dropdown-menu a {
        color: #000 !important;
    }
}

.imagem img {
    height: 100%;
    width: 100%;
}
.texto{
    height: 100%;
}
.navbar {
    position: relative !important;
}

.h1-part2 {
    width: 100%;
}

.item {
    width: 100%;
}

.card {
    background-size: cover;
    background-repeat: no-repeat;
}

.cards .wpp {
    background-image: url("imgGolpe/wpp.jpg");
}

.cards .call {
    background-image: url("imgGolpe/call.jpg");
}

.cards .amazon {
    background-image: url("imgGolpe/amazon.png");
}

.cards .roubo {
    background-image: url("imgGolpe/roubo.jpg");
}

.cards .card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 400px;
    width: 450px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: 400ms;
}

.cards .card p.tip {
    font-size: 1em;
    font-weight: 700;
}
.text-info{
    cursor: pointer !important;
}