body {
    font-family: 'Lato', sans-serif;
}
.nav-item{
    font-size: 16px;
}
.texto {
    font-size: 20px;
}

.carousel img {
    height: 800px;
}

.acessoria {
    background-color: #2f2f35;
}

.contate {
    margin: 0 auto;
}

.part-1 img {
    width: 100%;
}

.footer-col img {
    width: 100%;
}
@media(max-width: 870px){
    .acessoria .row{
        display: flex;
        flex-direction: column;
        align-content: center;
    }
}
@media(max-width: 768px) {
    .imagem {
        padding: 0 !important;
    }
}

@media (max-width: 1002px) {
    .nav-item {
        font-size: 20px !important;
    }
}

@media (max-width: 960px) {

    .navbar {
        padding: 0px 50px;
    }
    .nav-item {
        font-size: 15px !important;
    }
}
#myBtn {
    /* Oculta o botão inicialmente */
    position: fixed;
    /* Fixa o botão na posição desejada */
    bottom: 20px;
    /* Define a distância do botão em relação à parte inferior */
    right: 30px;
    /* Define a distância do botão em relação à direita */
    z-index: 99;
    /* Define a ordem de empilhamento do botão */
    border: none;
    /* Remove a borda */
    outline: none;
    /* Remove o contorno */
    background-color: #555;
    /* Define a cor de fundo do botão */
    color: white;
    /* Define a cor do texto do botão */
    cursor: pointer;
    /* Define o cursor do mouse como um ponteiro */
    padding: 15px;
    /* Define o espaçamento interno do botão */
    border-radius: 50%;
    /* Define a forma arredondada do botão */
    font-size: 18px;
    /* Define o tamanho da fonte do botão */
}

#myBtn:hover {
    background-color: #333;
    /* Define a cor de fundo do botão ao passar o mouse */
}

@media(max-width: 452px){
    .text-info{
        font-size: 15px !important;
    }
}
