body {
    font-family: 'Lato', sans-serif;
}

.texto {
    font-size: 20px;
}

.carousel img {
    height: 800px;
}

.acessoria {
    background-color: #2f2f35;
}

.contate {
    margin: 0 auto;
}

.part-1 img {
    width: 100%;
}

.footer-col img {
    width: 100%;
}
@media(max-width: 870px){
    .acessoria .row{
        display: flex;
        flex-direction: column;
        align-content: center;
    }
}
@media(max-width: 768px) {
    .imagem {
        padding: 0 !important;
    }
}

@media (max-width: 1002px) {
    .nav-item {
        font-size: 20px !important;
    }
}

@media (max-width: 960px) {

    .navbar {
        padding: 0px 50px;
    }
    .nav-item {
        font-size: 15px !important;
    }
}
.btn{
    box-shadow: 3px 4px 17px 0px #040200 !important;
}